* {
  margin: 0;
  padding: 0;
}

.background {
  background: rgba(0, 0, 0, 0.6) url("../img/bg1.jpg") no-repeat center
    center/cover;
  background-size: cover;
  background-blend-mode: darken;
}

.navbar {
  background: rgba(0, 0, 0, 0.8) url("../img/bg1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  border-bottom: 1px solid gray;
  top: 0;
  z-index: 1;
}

.logo {
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 30px;
  justify-content: center;
  height: 35px;
}

.nav-list {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 13px 0;
  display: inline-block;
  margin: 0 20px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 12px 0;
  cursor: pointer;
}

.nav-list li a:hover {
  color: grey;
}

.rightNav {
  width: 30%;
  text-align: right;
}

.search {
  border: 2px solid black;
  outline: none;
  background: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 15px;
  color: black;
}
/*
Burger
*/
.burger {
  margin: 6px;
  display: none;
  position: absolute;
  top: 2%;
  right: 15px;
  border: 2px solid #ffffff8f;
  padding: 2px;
  border-radius: 10px;
}

.line {
  list-style: none;
  width: 30px;
  height: 4px;
  background: white;
  margin: 3px 3px;
  border-radius: 2px;
}

.btn {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  color: white;
}

.btn-sml {
  padding: 4px 8px;
  border-radius: 50px;
}

.first-section {
  padding-top: 77px;
  height: 60vh;
}

.box-main {
  height: 100%;
  display: flex;
  max-width: 90%;
  align-items: center;
  margin: auto;
  color: white;
  font-family: "Segoe Ui", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 20px;
}

.btn-left {
  background: #a4da22c4;
  color: white;
  border: none;
}

.btn:hover {
  background: white;
  color: black;
}

.btn-left:hover {
  background: #a4da22;
  color: black;
}

.btn-right {
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: #a4da22d6;
}

.btn-right:hover {
  border: none;
  background: #a4da22d6;
  color: black;
}

.text-big {
  font-size: 41px;
  font-weight: bold;
  display: block;
  margin: 0 20px;
}

.text-small {
  font-size: 18px;
  margin: 0 20px;
}

.images {
  width: 250px;
  height: 200px;
}

.images img {
  width: 300px;
  height: inherit;
  opacity: 0.9;
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
}

.secSecond {
  max-width: 80%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.container {
  width: 80%;
  padding: 0 98px;
}

.thumbnail {
  width: 30%;
  margin: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail img {
  margin-top: 20px;
  width: 250px;
  height: 180px;
  border: 1px solid black;
  border-radius: 10px;
}

.paraBig {
  padding: 20px 0;
  font-size: 35px;
}

.left {
  flex-direction: row-reverse;
}

.contact {
  height: 833px;
  background-color: #bebebea8;
  display: flex;
  flex-direction: column;
}

.contact-head {
  display: block;
  margin: auto;
  border-bottom: 2px solid black;
  font-size: 44px;
  padding-top: 30px;
  font-weight: bold;
  font-family: "Segoe Ui", Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 62%;
  margin: 25px auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 17px 0;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  font-size: 20px;
}

.btn-dark {
  border: 1px solid black;
  color: white;
  background: black;
  padding: 6px 30px;
  font-size: 20px;
  margin: 15px auto;
  display: block;
}

.btn-dark:hover {
  border: 1px solid black;
}

.text-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  color: white;
  font-size: 20px;
  font-family: "Segoe Ui", Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 1070px) {
  .navbar {
    flex-direction: column;
    height: 381px;
    transition: all 0.5s ease-out;
  }

  .logo img {
    width: 40px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav-list li a {
    font-size: 15px;
  }

  .nav-list {
    width: 100%;
    flex-direction: column;
  }

  .rightNav {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .search {
    font-size: 10px;
    padding: 5px;
    width: 150px;
    margin: 5px auto;
    border-radius: 15px;
  }

  .btn-sml {
    font-size: 10px;
    width: 50px;
    margin: 0 auto;
  }

  .burger {
    display: block;
    cursor: pointer;
    outline: none;
  }
  .list {
    display: block;
  }

  .h-nav {
    height: 50px;
  }

  .v-class {
    opacity: 0;
  }

  .first-section {
    padding-top: 20px;
    height: 70vh;
  }
  .box-main {
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .content {
    text-align: left;
    width: 80%;
  }

  .text-big {
    text-align: center;
    font-size: 15px;
  }

  .text-small {
    text-align: center;
    font-size: 10px;
  }

  .buttons {
    flex-direction: column;
    margin: 5px;
  }

  .buttons .btn-left {
    margin: 5px;
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .images img {
    width: 150px;
    height: 130px;
  }

  .secSecond {
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
  }

  .thumbnail img {
    width: 176px;
    height: 137px;
  }

  .contact {
    max-width: 100%;
  }
}
